/* Custom fonts and sizing */

/* .navbar-brand {
	font-family: 'Special Elite', cursive;
	color: #984447 !important;
} */

legend,
h1 {
	color: #476C9B !important;
}

#navbarNavDropdown .nav-link,
h1,
legend,
thead {
	font-family: 'Dancing Script', cursive;
}

#navbarNavDropdown .nav-link,
thead {
	font-size: larger;
}

/* Action button styles */
.btn-outline-danger,
.btn-outline-primary {
	border: none;
}