/* Custom fonts and sizing */

.navbar-brand {
	font-family: 'Special Elite', cursive;
}

.nav-link,
h1,
legend,
thead {
	font-family: 'Dancing Script', cursive;
}

.nav-link,
thead {
	font-size: larger;
}