/* General page styles. most styling done with Bootstrap */
body {
	background-color: #1C5253;
	color: white;
}
main {
	max-width: 800px;
	margin: 50px auto;
}

header, footer {
	background-color: black;
}

/* Styles for rendered license */
.temp-license {
	min-height: 100px;
	max-width: 500px;
	background-color: white;
	color: black;
	border-radius: 10px;
}