/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  line-height: 140%;
}

/* Styles for index page */
.background-antiquewhite {
  background-color: antiquewhite;
}

header {
  text-align: center;
  background-color: #8cb369;
  padding: 2rem;
}

h2 {
  text-align: center;
}

main {
  padding: 80px 80px 40px;
  max-width: 600px;
  margin: 0 auto;
}

/* table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #8cb369;
}

tbody {
  background-color: #ffffff;
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 1rem;
}

/* Back button */
nav {
  padding: 1rem;
  float: left;
}

/* Styles for code examples */
/* pre code {
  display: block;
} */
pre {
  white-space: pre-wrap;
}

code.block {
  box-sizing: border-box;
  display: block;
  font-size: 120%;
  padding: 20px;
  margin: 1rem 0;
  background-color: #eee;
  border: 1px solid black;
  width: 100%;
}

code {
  display: inline;
}

.color-red {
  color: red;
}

/* Screenshot styles */
figure {
  margin: 0 auto;
  max-width: 1000px;
  background-color: black;
}

img {
  display: block;
  width: 100%;
}
