/* Action button styles */
.btn-outline-danger,
.btn-outline-primary,
.btn-outline-secondary {
	border: none;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

/* Blog post hover styles */
.blogpost {
	transition: all 0.3s ease;
}

.blogpost:hover {
	cursor: pointer;
	background-color: #f8f9fa;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}